<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="/static/mystyle.css">
  <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
  <script type="text/javascript" src="/static/blab.js"></script>
  <script type="text/javascript" src="/static/jquery.js"></script>
</head>
<body style="height:200px">

</div>
<form action="/post" method="POST">
<div class = "quiz"> 
<p class="question" style = "margin:200px, padding = 200px"><br>1. Where do you get your energy?</br</p>        

<ul class="answers">          
<input type="radio" name="q1" value="a" id="q1ae"><label for="q1a">People</label><br/>          
<input type="radio" name="q1" value="b" id="q1bi"><label for="q1b">Time alone</label><br/>                  
</ul>        


<p class="question">2. Do you...</p>        

<ul class="answers">            
<input type="radio" name="q2" value="a" id="q2ai"><label for="q2a">Think first, then speak, because what is once said cannot be unsaid</label><br/>           
<input type="radio" name="q2" value="b" id="q2be"><label for="q2b">Speak first, then think, because fast is important</label><br/>            
      
</ul>        

<p class="question">3. Do you have...</p>        

<ul class="answers">            
<input type="radio" name="q3" value="a" id="q3ae"><label for="q3a">A large group of friends</label><br/>            
<input type="radio" name="q3" value="b" id="q3bi"><label for="q3b">A few deep friendships</label><br/>            
      
</ul>        

<p class="question">4. Do you focus on...</p>        

<ul class="answers">           
<input type="radio" name="q4" value="a" id="q4as"><label for="q4a">What is physically, currently real</label><br/>            
<input type="radio" name="q4" value="b" id="q4bn"><label for="q4b">What is possible, no matter how unlikely or far off it is</label><br/>            
        
</ul>        

<p class="question">5. Do you...</p>        

<ul class="answers">            
<input type="radio" name="q5" value="a" id="q5an"><label for="q5a">See the big picture, looking beyond what is in front of you</label><br/>            
<input type="radio" name="q5" value="b" id="q5bs"><label for="q5b">Focus on what you believe is possible </label><br/>            
      
</ul>        

<p class="question">6. Do you like to...</p>        

<ul class="answers">            
<input type="radio" name="q6" value="a" id="q6an"><label for="q6a">Try new things, even if you don't know the outcome</label><br/>            
<input type="radio" name="q6" value="b" id="q6bs"><label for="q6b">Playing it safe, doing things in the "old" way where you know what will happen</label><br/>            
       
</ul>       

<p class="question">7. What do you follow?</p>        

<ul class="answers">            
<input type="radio" name="q7" value="a" id="q7ar"><label for="q7a">Your head</label><br/>            
<input type="radio" name="q7" value="b" id="q7bf"><label for="q7b">Your heart, you go with your gut instinct</label><br/>            
      
</ul>        

<p class="question">8. How do you make decisions?</p>        

<ul class="answers">            
<input type="radio" name="q8" value="a" id="q8at"><label for="q8a">Logic</label><br/>            
<input type="radio" name="q8" value="b" id="q8bf"><label for="q8b">Emotions</label><br/>            
     
</ul>        

<p class="question">9. Do you speak...</p>        

<ul class="answers">            
<input type="radio" name="q9" value="a" id="q9af"><label for="q9a">Poetically or rhythmically</label><br/>            
<input type="radio" name="q9" value="b" id="q9bt"><label for="q9b">Factually, or matter-of-factly</label><br/>            
      
</ul>        

<p class="question">10. Do you like your environment to be...</p>        

<ul class="answers">           
<input type="radio" name="q10" value="a" id="q10aj"><label for="q10a">Structured, on a schedule, and organized</label><br/>            
<input type="radio" name="q10" value="b" id="q10bp"><label for="q10b">Relaxed and laid-back</label><br/>            
       
</ul>        

<p class="question">11. Is it okay if plans change?</p>        

<ul class="answers">           
<input type="radio" name="q11" value="a" id="q11ap"><label for="q11a">Yes, life is unexpected, c'est la vie.</label><br/>            
 <input type="radio" name="q11" value="b" id="q10bj"><label for="q10b">No, plans are solid and I am a busy person with many things to do.</label><br/>     
</ul>   

<p class="question">12. Do you adapt quickly to a new environment?</p>        


<ul class="answers">           
<input type="radio" name="q12" value="a" id="q12ap"><label for="q12a">Yes</label><br/>            
<input type="radio" name="q12" value="b" id="q12bj"><label for="q12b">No</label><br/>            
</ul>  
<input type="submit" value="Find your path!">
</form>
<div id="results">  
<!-- 
<form method = "post" action="/post" >
<INPUT TYPE="submit" VALUE="Find your path!">

</form>
 -->
</div>     
</div>   
</div>      
<br/>
<div style = "position: fixed; top: 0; left: 0"  >
<img src = "http://www.morganmckinley.com.cn/sites/morganmckinley.com.cn/files/styles/large/public/winding%20road.jpg?itok=8WliGTWC" height: '50', width: '50'>
</div>   

</body>
</html>









        