<html>
<head>

<link rel="stylesheet" type="text/css" href="/static/mystyle.css">
<link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">

<title>Subconscious Path</title>
<script type="text/javascript" src="/static/blab.js"></script>
</head>

<body style="height:500px">


<div style = "position: fixed; top: 0; left: 0; z-index: -1; height: 500px"  >
<img src = "http://www.morganmckinley.com.cn/sites/morganmckinley.com.cn/files/styles/large/public/winding%20road.jpg?itok=8WliGTWC" height: '50', width: '50'>
</div>   
<div class = 'home' style = "position: fixed; top: 0; left: 0; height: 1000px; width: 1200px">
<h1>Subconscious<br>Path</br></h1>
<div class = "blurb">
<aside>
Enter your Twitter username to find your path!
</aside>
</div>

<div class = "twitter_name">
<!-- Get '/get' -->
<form action = "/get?foo=bar&baz=qux"> 
<input type="text" name="name" style ="width: 200px; height: 40px">
<input type="submit" value="Submit!" style = "width: 60px; height: 200px" >
</div>
 </div>
</body>
</html>