<!DOCTYPE html PUBLIC>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
  <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <title>Subconscious Path</title>
<script type="text/javascript" src="/static/blab.js"></script>
  </head>
    <div class = "quote"><i><q><em> I am not just one thing, and neither are you.</em></q></class></i><br/><div class = "Laverne"><p>&ndash; Laverne Cox, <a href="http://www.haverford.edu"><b>Haverford College</a>, November 7, 2013</b></p></div>
    
    <h1>Subconscious Path</h1>
      <div class = "blurb">
      <aside>
      You know what people tell you you can be. You've taken the quizzes and learned what you already know. Take it a step further, and find what your Tweets say about you! Let's say, hypothetically, you like science. Quizzes tell you to go into science. But you're more than that. You love to follow politics, or sports, or fashion. How can you combine your passions and interests into a future path?
      That is where <b><em>Subconscious Path</em></b> comes in. We take in your hashtags and analyze what you truly care about. You take a short quiz, and both results will return multi-dimensional paths for you.
     </aside>
</div>
<div class = 'twitter_name'>
        <form action="data.html" method="post">
        Enter Twitter username: <input type="text" name="name">
        <input type="submit" value="Submit!">
        </form>
    </body>
  </div>
